body{
    text-align: center;
    margin-top: 20%;
}

select{
    display: inline-block;
    font-size: 30px;
    height: 50px;
    width: 100px;
    background-color: rgb(233, 178, 187);
    color: white;
}

button{
    height: 40px;
    width: 70px;
    background-color: rgb(198, 126, 136);
    color: white;
    border: none;
}